$button-color-1:#74A4D6;
$button-color-2:#CEA4D6;
$button-txt-color: white;
$circle-color-1: #EBA9AC;
$circle-color-2: #39A9AC;
$intro-txt-color: #585858;
$shadow-color-1: rgba(0, 0, 0, 0.2);
$shadow-color-2: rgba(0, 0, 0, 0.2);