@import '_variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

.container {
    margin: auto;
    // border: 1px solid red;
    min-height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    perspective: 1000;

    .card-container {
        width: 25%;
        display: flex;
        justify-content: center;
        align-items: stretch;

        .card {
            width: 20rem;
            min-height: 50vh;
            padding: 2.5rem;
            border-radius: 3rem;
            box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);

            .avatar {
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    height: 13rem;
                    z-index: 1;
                    transition: all 0.75s ease-out;
                }

                .circle {
                    width: 12rem;
                    height: 12rem;
                    border-radius: 50%;
                    background: linear-gradient(to right top, $circle-color-1, $circle-color-2);
                    position: absolute;
                    z-index: auto;
                }
            }

            .intro {
                margin: 2rem 0;
                height: 18rem;


                .title {
                    font-size: 1.4rem;
                    // transition: all 0.75s ease-out;
                }

                .content {
                    font-size: 1rem;
                    color: #585858;
                    margin: 1rem 0;
                    // transition: all 0.75s ease-out;
                }
            }

            .more {
                font-size: 1.2rem;
                font-weight: 700;
                background: linear-gradient(to right, $button-color-1, $button-color-2);
                color: white;
                width: 100%;
                padding: 0.5rem 0rem;
                border: none;
                border-radius: 3rem;
                cursor: pointer;
                outline: none;
                // transition: all 0.75s ease-out;
            }
        }
    }
}